{% extends 'app/base.html' %}
{% block content %}
<!--Usuario dministrador-->
{% if rol_usuario == 'admin' %}
<a class="btn btn-outline-primary btn-small" href="{% url 'app:agregar_periodico' %}">
    Agregar Periodico
</a>
<a class="btn btn-outline-primary btn-small" href="{% url 'app:agregar_link' %}">
    Agregar Link de interés
</a>
{% if links%}
<hr>    
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">URL</th>
            <th scope="col">Periodico</th>
            <th scope="col">Responsable</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
            {% for link in links %}
            <tr>
                <td>{{link.id}}</td>
                <td>{{link.url|truncatechars:15}}</td>
                <td>{{link.periodico.nombre}}</td>
                <td>{{link.responsableAcopio}}</td>
                <td>{{link.fecha}}</td>
                {% if link.aprobado == False %}
                    <td style="color: red;">No Aprobado</td>
                {% else %}
                    <td style="color: green">Aprobado</td>
                {% endif %}
                <td>Aprobar - Desaprobar</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    {% endif %}
    {% if periodicos %}
    <hr>    
    <div style='
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;'>
        {% for periodico in periodicos %}
        <div class="card" style="width: 14rem;">
            <img class="card-img-top" src='{{periodico.logo}}' alt="{{periodico.nombre}}">
            <div class="card-body">
                <h5 class="card-title">{{periodico.nombre}}</h5>
                <a href="#" class="btn btn-primary">Agregar</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endif %}
<!---------------------------Usuario Encargado de Prensa----------------------------------->
{% if rol_usuario == 'prensa' %}
<a class="btn btn-outline-primary btn-small" href="{% url 'app:agregar_periodico' %}">
    Agregar Periodico
</a>
<a class="btn btn-outline-primary btn-small" href="{% url 'app:agregar_link' %}">
    Agregar Link de interés
</a>
{% if links%}
<hr>    
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">URL</th>
            <th scope="col">Periodico</th>
            <th scope="col">Responsable</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
            {% for link in links %}
            <tr>
                <td>{{link.id}}</td>
                <td>{{link.url|truncatechars:15}}</td>
                <td>{{link.periodico.nombre}}</td>
                <td>{{link.responsableAcopio}}</td>
                <td>{{link.fecha}}</td>
                {% if link.aprobado == False %}
                    <td style="color: red">No Aprobado</td>
                {% else %}
                    <td style="color:green">Aprobado</td>
                {% endif %}
                <td>Aprobar - Desaprobar</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    {% endif %}
    {% if periodicos %}
    <hr>    
    <div style='
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;'>
        {% for periodico in periodicos %}
        <div class="card" style="width: 14rem;">
            <img class="card-img-top" src='{{periodico.logo}}' alt="{{periodico.nombre}}">
            <div class="card-body">
                <h5 class="card-title">{{periodico.nombre}}</h5>
                <a href="#" class="btn btn-primary">Agregar</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endif %}
<!--Rol clasificacion-->
{% if rol_usuario == 'clasificacion' %}
{% if links%}
<hr>    
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">URL</th>
            <th scope="col">Periodico</th>
            <th scope="col">Responsable</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
            {% for link in links %}
            <tr>
                <td>{{link.id}}</td>
                <td>{{link.url|truncatechars:15}}</td>
                <td>{{link.periodico.nombre}}</td>
                <td>{{link.responsableAcopio}}</td>
                <td>{{link.fecha}}</td>
                {% if link.aprobado == False %}
                    <td style="color: red;">No Aprobado</td>
                {% else %}
                    <td style="color:green">Aprobado</td>
                {% endif %}
                <td>Aprobar - Desaprobar</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% endif %}

{% endblock %}